<div style="width: 100%; height: 100%; min-height: 90%; overflow: scroll; background-color: white;" >
    <table style="width:auto;" *ngIf="tablelabels.length > 0">
        <colgroup><col></colgroup>
        <colgroup *ngFor="let row of tablelabels; let odd=odd; let even=even">
            <col [ngClass]="{odd: odd, even: even}">
            <!-- <col *ngIf="even" style="border: 1px solid rgb(255, 255, 255);"> -->
        </colgroup>
        <thead>
            <tr>
                <th class="hidecolumn"></th>
                <th colspan="3">Daily</th>
                <th class="hidecolumn"></th>
                <th colspan="3">Weekly</th>
                <th class="hidecolumn"></th>
                <th colspan="3">Monthly</th>
            </tr>
            <tr>
                <th>TRML</th>
                <th *ngFor="let row of tablelabels; let j = index;" style="width:60px;" [ngClass]="{hidecolumn: row=='/'}">{{tablelabelsdisplay[row]}}</th>
            </tr>
        </thead>
        <tbody>
                <!--  -->
            <tr *ngFor="let row of objectkeys(tabledata); let i = index; let odd=odd; let even=even" [ngClass]="{oddrow: odd, evenrow: even}">
                <td>{{row}}</td>
                <td *ngFor="let key of tablelabels; let j = index;" style="text-align: right; width:60px;" [ngClass]="{hidecolumn: key=='/'}">
                    <label *ngIf="tabledata[row][key] && tabledata[row][key] > 0">{{tabledata[row][key]}}</label>
                </td>
            </tr>
            <tr>
                    <td>Totals</td>
                    <td *ngFor="let key of tablelabels; let j = index;" style="text-align: right; width:60px;" [ngClass]="{hidecolumn: key=='/'}">
                        <label *ngIf="tabletotal[key]">{{tabletotal[key]}}</label>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<!-- 2nd level -->